doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.css')
    body
        div.container
            div.container-fluid
                block content
        script(src='/js/jquery.js')
        script(src='/js/bootstrap.min.js')
        block scripts
