doctype
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Assignment 3 & 4
        link(href="https://fonts.googleapis.com/css?family=Nunito:200,600", rel="stylesheet")
        style.
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
            font-size: 13px;
                font-weight: 600;
            letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
    body
        .flex-center.position-ref.full-height
            .content
                .title.m-b-md Assginment 3 & 4
                a(href="/faculty")
                    h2 Proceed to CRUD Working
                h3
                    strong Group Members: 
                h3 Tahir Mahmood (FA18-BSE-059)
                h3 Hanzala (FA18-BSE-037)
                h3 Shehroz Ali (FA18-BSE-081)