extends layouts/app

include components/forms
block content
    h5 Login Here
    form(action="/Login", method="post")
        .row
            .col-md-6
                +input("email","email","Email","Email","email",email,emailError)
            .col-md-6
                +input("password","password","Password","Paasword","password",password,passwordError)
                
        +submit("Submit","submit","submit","btn-success")
block scripts
    