extends layouts/app

include components/forms
block content
    h5 Signup Here
    form(action="/Register", method="post")
        .row
            .col-md-6
                +input("text","name","Name","Name","name",name,nameError)
            .col-md-6
                +input("email","email","Email","Email","email",email,emailError)
            .col-md-6
                +input("password","password","Password","Password","password",password,emailError)
            .col-md-6
                p Gender:
                .d-flex.justify-content-between.mt-2
                    +radio-inline("Male", "gender", "male")
                    +radio-inline("Female", "gender", "male")
                    +radio-inline("Others", "gender", "other") 
                span.text-danger #{genderError}
        +submit("Submit","submit","submit","btn-success")
block scripts
    